#header {
	padding: 1.5em;
	font-size: 2.5em;
	text-align: center;
	font-family: Helvetica;
	text-shadow: 0.1em 0.1em #BBB;

}
#intro {
	padding: 2em;
	font-size: 1.1em;
	color: #666;

}

#scenic {
	width: 100%;
	margin:auto;
}

#scenic img {
	margin-left: 1em;
}

#footer {
	padding: 2em;
	clear:both;
	height: 20%;
	width: 100%;
	text-align: center;
	
}